annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
caldav==3.0.2
charset-normalizer==3.4.5
click==8.3.1
dnspython==2.8.0
docxtpl==0.20.2
fastapi==0.135.1
filelock==3.25.0
h11==0.16.0
icalendar==7.0.3
icalendar-searcher==1.0.5
idna==3.11
iniconfig==2.3.0
jh2==5.0.10
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
marmel-grammar==0.1.9
nc-py-api==0.24.2
niquests==3.17.0
packaging==26.0
pluggy==1.6.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-multipart==0.0.22
pytrovich==0.0.5
PyYAML==6.0.3
qh3==1.6.0
recurring-ical-events==3.8.1
six==1.17.0
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3-future==2.17.900
uvicorn==0.41.0
wassima==2.0.5
x-wr-timezone==2.0.1
xmltodict==1.0.4
