annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
charset-normalizer==3.4.5
click==8.3.1
docxtpl==0.20.2
fastapi==0.135.1
filelock==3.25.0
h11==0.16.0
idna==3.11
jh2==5.0.10
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
nc-py-api==0.24.2
niquests==3.17.0
pydantic==2.12.5
pydantic_core==2.41.5
python-docx==1.2.0
python-dotenv==1.2.2
python-multipart==0.0.22
qh3==1.6.0
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3-future==2.17.900
uvicorn==0.41.0
wassima==2.0.5
xmltodict==1.0.4
